# Java
*.class
*.jar
*.war
*.ear
target/
*.log

# Flutter
flutter-app/**/build/
flutter-app/**/.dart_tool/
flutter-app/**/.flutter-plugins
flutter-app/**/.flutter-plugins-dependencies
flutter-app/**/.packages
flutter-app/**/pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
