name: Flutter CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  flutter:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: flutter_app/flutter_application_1   # thư mục chứa pubspec.yaml
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          # flutter-version: '3.24.3'   # nếu muốn pin version

      - name: Sanity check
        run: |
          pwd
          ls -la
          test -f pubspec.yaml && echo "Found pubspec.yaml ✅"

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      # - name: Test
      #   run: flutter test --no-pub
